* {
  background-color: #343a40;
  color: #aaa;
}

.cont {
  display: flex;
  padding: 15vh 30vh;
  height: 50vh;
}

.photo {
  background-color: white;
  height: 30vh;
  width: 30vh;
  margin-right: 20vh;
}

.detail {
  width: 80vh;
  height: 25vh;
  font-size: 2em;
}

.name {
  min-height: 10vh;
}

.rollno {
  min-height: 10vh;
}

.cont2 {
  text-align: center;
}

table,
th,
td {
  display: inline-flexbox;
  margin-top: 5vh;
  padding: 2vh 8vh;
  font-size: 1.2em;
  border: 2px solid grey;
  margin-bottom: 23vh;
}
